<div class="animated fadeIn" >
  <div class="row" ng-controller="homeCtrl" >
    <div class="col-sm-12 col-lg-12">
    <div ng-repeat="post in posts" id="accordion">
      <div class="card " >
        <div class="card-body">
<!--         <strong>{{}}</strong>
 -->        <strong>{{allUsers[post.userId -1]["username"] | uppercase}}</strong>
          <p>{{post.des}}</p>
        </div> 
        <div class="card-footer text-muted" ng-click="onCommnetClick(post.id)">
           <button class="btn btn-link" data-toggle="collapse" data-target="#{{post.id}}" aria-expanded="false">
            Comment
        </button>
        </div>  
         <div id="{{post.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <div class="row">
            <div class="col-sm-12 col-lg-6 col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" id="ccnumber" placeholder="Enter Comment" ng-model="post.newcomment" ng-keyup="$event.keyCode ==13 ? validation(post.newcomment)&&onNewComment($index): null">
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 col-md-6">
            <div class="form-group">
                <button type="button" class="btn btn-primary" ng-click="onNewComment($index)"><i class="fa fa-angle-double-right"></i></button>
            </div>
            </div>
          </div>
          <div ng-repeat="comment in post.comments" id="replyacc{{comment.id}}{{post.id}}">
            <div class="row comment">
             <strong>{{allUsers[comment.userId -1]["username"] | uppercase}}</strong>
            <div class="col-sm-6 col-lg-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" style="border-radius: 22px;" id="ccnumber" placeholder="Enter Comment" ng-model="comment.des" ng-disabled = "!comment.isdisabled" ng-keyup="$event.keyCode ==13 ? comment.isdisabled = false: null">
                </div>
              </div>
            </div>
            <div class="row">
              <button type="button" class="btn btn-link" ng-click="onLikedClick($index,$parent.$index,comment.likes)">
              <span ng-if="comment.likes.length ">({{comment.likes.length}})</span>
              {{!comment.likes.length ? "Like" : (comment.likes.length && isLikedbyLoggedUser(comment.likes)) ? "Liked" : "Likes"}}
              </button>
<!--               <button type="button" class="btn btn-link">Reply</button>
 -->           <button class="btn btn-link" data-toggle="collapse"
                     data-target="#cmt{{comment.id}}{{post.id}}" aria-expanded= "false">
                       Reply
               </button>
              <span ng-if="comment.userId == loggedIn">
              <button type="button" class="btn btn-link" ng-click="comment.isdisabled = true">Edit</button>
              <button type="button" class="btn btn-link" ng-click="onCommentDelete($index,$parent.$parent.$index)">Delete</button>
              </span>
            </div>
            <div id="cmt{{comment.id}}{{post.id}}" class="collapse replyDiv" aria-labelledby="headingOne" data-parent="#replyacc{{comment.id}}{{post.id}}" >
                <div class="row">
                      <div class="col-sm-6 col-lg-6 col-md-6">
                        <div class="form-group">
                           <input type="text" class="form-control"  placeholder="Enter Reply" ng-model="comment.newreply" ng-keyup="$event.keyCode ==13 ? validation(comment.newreply)&&onNewReply($index,$parent.$index): null">
                        </div>
                     </div>
                </div>
                <div>
                  <div ng-repeat="reply in comment.reply">
                        <div class="row comment">
                         <strong>{{allUsers[reply.userId -1]["username"] | uppercase}}</strong>
                        <div class="col-sm-6 col-lg-6 col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" style="border-radius: 22px;" ng-model="reply.des" ng-disabled = "true">
                            </div>
                          </div>
                        </div>
                  </div>
                  </div>
                </div>
            </div>
        </div>
    </div>   
      </div>
    </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->

          
      

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Traffic &amp; Sales
        </div>
        <div class="card-body">
          
          <!--/.row-->
          <br/>
          <table class="table table-hover table-outline mb-0 hidden-sm-down">
            <thead class="thead-light">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th>User</th>
                <th class="text-center">Country</th>
                <th>Usage</th>
                <th class="text-center">Payment Method</th>
                <th>Activity</th>
              </tr>
            </thead>
            <tbody ng-controller="usersTableCtrl">
              <tr ng-repeat="user in users">
                <td class="text-center">
                  <div class="avatar">
                    <img ng-src="img/avatars/{{ user.avatar }}" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status" ng-class="{ 'badge-success' : user.status == 'active',
                    'badge-warning' : user.status == 'away',
                    'badge-danger'  : user.status == 'busy',
                    'badge-secondary' : user.status == 'offline' }"></span>
                  </div>
                </td>
                <td>
                  <div>{{ user.name }}</div>
                  <div class="small text-muted">
                    <span ng-if="user.new == true">New</span>
                    <span ng-if="user.new == false">Recurring</span>
                    | Registered: {{ user.registered }}</div>
                </td>
                <td class="text-center">
                  <i class="h4 mb-0 flag-icon flag-icon-{{ user.flag }}" title="{{ user.flag }}" id="{{ user.flag }}"></i>
                </td>
                <td>
                  <div class="clearfix">
                    <div class="float-left">
                      <strong>{{ user.usage }}%</strong>
                    </div>
                    <div class="float-right">
                      <small class="text-muted">{{ user.period }}</small>
                    </div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar" ng-class="{ 'bg-info'    : user.usage <= 25,
                      'bg-success' : user.usage > 25 && user.usage <= 50,
                      'bg-warning' : user.usage > 50 && user.usage <= 75,
                      'bg-danger'  : user.usage > 75 && user.usage <= 100 }" value="{{ user.usage }}" role="progressbar" style="width: {{ user.usage }}%" aria-valuenow="{{ user.usage }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                <td class="text-center">
                  <i class="fa" ng-class="{ 'fa-cc-mastercard' : user.payment == 'mastercard',
                    'fa-cc-visa' : user.payment == 'visa',
                    'fa-cc-amex' : user.payment == 'amex',
                    'fa-cc-diners-club' : user.payment == 'diners',
                    'fa-cc-stripe' : user.payment == 'stripe',
                    'fa-paypal' : user.payment == 'paypal',
                    'fa-google-wallet' : user.payment == 'google' }" style="font-size:24px"></i>
                </td>
                <td>
                  <div class="small text-muted">Last login</div>
                  <strong>{{ user.activity }}</strong>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->

</div>